<%- include("partials/header") -%>

    <div class="home-container">

        <div class="intro">
            <h1>Hey ,</h1>
            <h1>I m Avinash </h1>
            <h1>and I do...</h1>
            <div class="wrapper">
                <div class="cube">
                    <div>Product Design</div>
                    <div>Creative Arts</div>
                    <div>Product Design</div>

                    <div>Web Development</div>
                    <div>Web Development</div>
                    <div>Mechanical Design</div>
                </div>
            </div>

        </div>
        <div class="home-image">

            <div class="homeimg"></div>
        </div>

    </div>

    <%- include("partials/footer") -%>