<%- include("partials/header") -%>
    <div class="resume-container">
        <h1>Gallery</h1>
        <div class="gallery-container">
            <div class="bags">
                <img src="/assets/bags.PNG" />
            </div>
            <div class="bike">
                <img src="/assets/bike.jpeg" />
            </div>
            <div class="car">
                <img src="/assets/car.PNG" />
            </div>
            <div class="childrens"> <img src="/assets/children.jpeg" /></div>
            <div class="futurecar"><img src="/assets/futurecar.PNG" /></div>
            <div class="oldman"><img src="/assets/oldman.jpeg" /></div>
            <div class="shoes"><img src="/assets/shoes.jpeg" /></div>
            <div class="hero"><img src="/assets/hero.jpg" /></div>

            <div class="speaker"><video autoplay muted>
                    <source src="/assets/speaker.mp4">
                </video></div>
            <div class="eyewear"><video autoplay muted>
                    <source src="/assets/eyewear.mp4">
                </video></div>
        </div>
    </div>